{{ define "main" }}
{{ partial "header" . }}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
	<div class="markdown">
	  {{ partial "content" . }}
	</div>
	<div class="mx-0 mx-md-4 posts">
	  <h1>{{ .Title }}</h1>
	  <hr>
	  <ul class="list-unstyled">
	    {{ range (where .Data.Pages.ByDate.Reverse ".Params.unlisted" "!=" "true") }}
	    <li>
	      <h2 class="meta-title">
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	      </h2>
	      <div class="meta-data">
		<time class="meta-data">{{ .Date.Format (.Site.Params.dateform | default "2006/01/02") }}</time>
		<span class="meta-data middot">
		  {{ range .Params.tags }} #{{.}} {{end}}
		</span>
	      </div>
	    </li>
	    {{ end }}
	  </ul>
	</div>
      </div>
    </div>
    {{ partial "footer" . }}
  </div>
</div>
{{ end }}
