<ul class="list-unstyled">
  {{ $length := 5 }}
  {{ with ($.Site.Params.paginationLen) }}
  {{ $length = $.Site.Params.paginationLen }}
  {{ end }}
  {{ range $i, $p := first $length (where  (where .Data.Pages.ByDate.Reverse "Section" "blog") ".Params.unlisted" "!=" true) }}
  <li class="recent-articles">
    <h4 class="meta-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    <div class="meta-date">
	<span class="meta-data">[ {{ .Section }} ]</span>
	<time class="meta-data middot" datetime="{{ .Date.Format (.Site.Params.dateform | default "2006-01-02") }}">{{ .Date.Format (.Site.Params.dateform | default "2006/01/02") }}</time>
  </li>
  {{ end }}
</ul>
