<ul class="list-unstyled" >
  <li>
    <h4 class="meta-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    <div class="meta-data">
      <span class="meta-data">
	{{ if .Params.categories }}
	[ {{ delimit .Params.categories ", " }} ]
	{{ else }}
	[ {{ .Section }} ]
	{{ end }}
      </span>
      <time class="meta-data middot" datetime="{{ .Date.Format (.Site.Params.dateform | default "2006-01-02") }}">
	{{ .Date.Format (.Site.Params.dateform | default "2006/01/02") }}
      </time>
      {{ with .Params.tags }}
      <span class="meta-data middot">
	{{ range . }} #{{.}} {{end}}
      </span>
      {{ end }}
    </div>
  </li>
</ul>
