{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <div class="mx-0 md-md-4">
                    {{ partial "face" .}}
                </div>
                <hr>
                <div class="mx-0 mx-md-4 posts">
                    <span class="row">
                        <h4 class="justify-content-center col-auto" style="margin-bottom: 0px;">
                            Recent articles
                        </h4>
                    </span>
                    {{ range .Data.Pages.GroupByDate "2006" "desc"}}
                    {{ range sort .Pages "Date" "desc" }}
                    {{ partial "list" . }}
                    {{ end }}
                    {{ end }}
                    <div class="container">
                        <span class="justify-content-center row col-auto mx-0 md-md-4">
                            <a class="col-auto  justify-content-center" href="/blog/">
                                More articles
                            </a>
                        </span>
                    </div>
                </div>
                <hr>
                <br>
                <div class="mx-0 mx-md-4 posts">
                    <span class="row">
                        <h4 class="justify-content-center col-auto" style="margin-bottom: 12px;">
                            Projects
                        </h4>
                    </span>
                    <div>
                        {{ partial "projects" . }}
                    </div>
                    <div class="container">
                        <span class="justify-content-center row col-auto mx-0 md-md-4">
                            <a class="col-auto  justify-content-center" href="https://github.com/M1cR0xf7?tab=repositories">
                                More projects
                            </a>
                        </span>
                    </div>

                    <hr>
                </div>
                {{ partial "footer" . }}
            </div>
        </div>
    </div>

    {{ end }}
