{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <div class="mx-0 md-md-4">
                    {{ partial "face" .}}
                </div>
                <hr>
                <div class="mx-0 mx-md-4 posts">
                    <p>
                        <h4 class="justify-content-center row col-auto">
                            Recent articles
                        </h4>
                    </p>
                    {{ range .Data.Pages.GroupByDate "2006" "desc"}}
                        {{ range sort .Pages "Date" "desc" }}
                            {{ partial "list" . }}
                        {{ end }}
                    {{ end }}
                    <p class="container">
                        <span class="justify-content-center row col-auto mx-0 md-md-4">
                            <a class="col-auto  justify-content-center" href="/blog/">
                                More articles
                            </a>
                        </span>
                    </p>
                </div>
                <hr><br>
                <div class="mx-0 mx-md-4 posts">
                    <p>
                    <h4 class="justify-content-center row col-auto">
                        Projects
                    </h4>
                    </p>
                    {{ partial "projects" . }}
                    <p class="container">
                        <span class="justify-content-center row col-auto mx-0 md-md-4">
                            <a class="col-auto  justify-content-center" href="https://github.com/M1cR0xf7?tab=repositories">
                                More projects
                            </a>
                        </span>
                    </p>

                    <hr>
                </div>
{{ partial "footer" . }}
            </div>
        </div>
    </div>

</div>

{{ end }}
